body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

:root {
    --violet: #D495CF;
    --pink: #FA82BA;
    --blue: #55598A;
}

/* NAV */
.navbar-brand img {
    width: 50vh;
}
.border-contact {
    border: 2px var(--blue) solid;
    border-radius: 10px;
}
.nav-item a:hover {
    color: var(--blue);
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

/* PORTADA */
.container-portada {
    text-align: center;
    height: 500px;
    margin-top: 25vh;
}
.container-portada h1 {
    animation: backInUp !important;
    animation-duration: 2s !important;
}

.img-portada {
    width: 300px;
}
/* ACERCA DE MI */
.container-acerca-de-mi{
    background-color: var(--violet);
    text-align: center;
    border-radius: 20px;
}

/* HABILIDADES */
.container-habilidades {
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 30vh;
}
.container-habilidades h2 {
    margin-bottom: 100px;
    padding: 20px;
    border-bottom: 5px var(--pink) solid;
}

/* PORTAFOLIO */
.container-portafolio {
    text-align: center;
    margin-bottom: 15vh;
}
.titulo-portafolio {
    margin-bottom: 80px;
}


/* CERTIFICACIONES */
.container-certificaciones {
    background-color: #FFCAE0;
    width: 50%;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    margin-top: 30vh;
    margin-bottom: 25vh;
}
.img-certificado {
    width: 50%;
    margin: 10px;
}

/* CV */

.img-mini-cv {
    width: 50%;
    margin-left: 10vh;
    border: 3px black solid;
    border-radius: 10px;
}
.cv-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

/* FOOTER */
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-top: 2px var(--blue) solid;
}

.container-icons-footer {
    display: flex;
    align-items: center;
}

.container-icons-footer a {
    margin: 10px;
}
.container-icons-footer img {
    width: 40px;
}

  